* {
    margin: 0;
    padding: 0;
    border: 0px;
}

body {
    background: linear-gradient(to left, #333, #333 50%, #eee 75%, #333 75%);
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.container {
    width: auto;
    position: relative;
}

.imgs {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-left: 10px;
}

/* Mobile Resposive */
@media (max-width: 786px){
    body {
        overflow-x: hidden;
    }

    .img {
        width:400px !important;
        height: 300px !important;
    }
}

/* Working with the navigation  */
